.alias-button {
    width: 100%;
}

.btn-none-team {
    border-color: black;
    background-color: tan;
    /* text color */
    color: black;
}

.btn-blue-team {
    border-color: black;
    background-color: blue;
    /* text color */
    color: white;
}

.btn-red-team {
    border-color: black;
    background-color: red;
    /* text color */
    color: white;
}

.btn-assassin {
    border-color: white;
    background-color: black;
    /* text color */
    color: white;
}
