.alias-button {
    width: 100%;
}

.btn-initial {
    border-color: black;
    font-weight: normal;
    /* text color */
    color: black;
}

.btn-none-team {
    border-color: black;
    background-color: tan;
    /* text color */
    color: black;
}

.btn-blue-team {
    border-color: black;
    background-color: blue;
    /* text color */
    color: white;
}

.btn-red-team {
    border-color: black;
    background-color: red;
    /* text color */
    color: white;
}

.btn-assassin {
    border-color: white;
    background-color: black;
    /* text color */
    color: white;
}

.btn-none-team-text {
    font-weight: bold;
    /* text color */
    color: tan !important;
}

.btn-blue-team-text {
    font-weight: bold;
    /* text color */
    color: blue !important;
}

.btn-red-team-text {
    font-weight: bold;
    /* text color */
    color: red !important;
}

.btn-assassin-text {
    font-weight: bold;
    /* text color */
    color: black !important;
}
