body {
    /* set same color as "bg-dark" class */
    background: #343a40;
}

.card-header {
    cursor: pointer;
}

#blue-team-input, #red-team-input {
    margin-left: 10px;
    text-align: center;
    min-width: 40px;
}

.team-input-row > * {
    padding: 0px;
}

.game-id-input-row > * {
    padding: 0px;
    padding-right: 20px;
}

#start-game-span {
    font-size: 150%;
    padding-left: 50px;
}

.btn-no-click {
    /* prevent changing cursor and text color transition during hover */
    cursor: default;
    pointer-events: none;
}

#end-game-button {
    font-size: 400%;
}

#version-span {
    display: flex;
    justify-content: center;
}

footer > hr {
    /* set same color as "text-light" class */
    background: #f8f9fa;
}
