body {
    /* set same color as "bg-dark" class */
    background: #343a40;
}

#blue-team-input, #red-team-input {
    text-align: center;
}

.team-input-row > * {
    padding: 0px;
}

#end-game-button {
    font-size: 400%;
    /* prevent changing cursor and text color transition during hover */
    cursor: default;
    pointer-events: none;
}
