#decoded-packet-binary-span, #decoded-packet-hex-span {
    font-family: monospace;
    font-size: 120%;
}

.display-result {
    /* show spacing and wrap into multiple lines */
    white-space: pre-wrap;
}
